<div class="container text-center">
  <h1>Ask the Stupid Coach a question</h1>
  <form action="/answer" method="get" class="">
    <input type="text" name="text" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary mt-3">
  </form>
</div>
